<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#08090D" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/favicon.ico') }}" type="image/x-icon">
    <title>500 &bull; ECHO</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/_utility.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base/err.css') }}">
</head>

<body class="column h-screen">
    <img src="{{ url_for('static', filename='assets/images/500-desktop.webp') }}" alt="Background Image"
        class="img desk">
    <img src="{{ url_for('static', filename='assets/images/500-phone.webp') }}" alt="Background Image"
        class="img phone">

    <div class="main center">
        <div class="actions res-row center gap-12">
            <a href="{{ url_for('app.dashboard') }}" class="link btn rounded-full ph-20 pv-12">
                <span class="symbol">home</span>
                <span class="text">Back home</span>
            </a>

            <a href="mailto:adi@coderadi.in" class="link btn rounded-full ph-20 pv-12">
                <span class="symbol">support_agent</span>
                <span class="text">Contact support</span>
            </a>
        </div>
    </div>

    <span class="text text-center footer p-20">AUVORA ECHO</span>
</body>

</html>