<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pre-connect" href="https://fonts.googleapis.com">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/favicon.ico') }}" type="image/x-icon">
    <title>Dashboard &bull; ECHO</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='base/_utility.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/dashboard.css') }}">
</head>

<body>
    {% include 'components/msg.html' %}

    {% include 'components/header.html' %}
    {% include 'components/controls.html' %}

    <main class="main p-20 flex gap-20">
        <section class="left-panel column gap-20 w-full h-full">
            <aside class="sidebar column gap-12 p-16 rounded-16 bg-card">
                <span class="text fs-20 fw-500">Quick Actions</span>

                <button class="link btn row gap-12" id="generateOpen" popovertarget="generationOptions">
                    <span class="symbol">edit</span>
                    <span class="text">Generate</span>
                </button>

                <div id="generationOptions" popover>
                    <div class="content column gap-8 rounded-4 p-8">
                        <a href="{{ url_for('app.captions') }}" class="link row gap-8">
                            <span class="symbol">subtitles</span>
                            <span class="text">Captions</span>
                        </a>

                        <a href="{{ url_for('app.headlines') }}" class="link row gap-8">
                            <span class="symbol">text_ad</span>
                            <span class="text">Headlines</span>
                        </a>
                    </div>
                </div>

                <a href="{{ url_for('app.history') }}" class="link row gap-12">
                    <span class="symbol">schedule</span>
                    <span class="text">History</span>
                </a>

                <a href="{{ url_for('app.settings') }}" class="link row gap-12">
                    <span class="symbol">settings</span>
                    <span class="text">Settings</span>
                </a>
            </aside>

            <aside class="recent-gens column gap-12 p-16 rounded-16 bg-card h-full">
                <div class="head row h-sb">
                    <span class="text fs-20 fw-500">Recent Generations</span>
                    <a href="{{ url_for('app.history') }}" class="link row gap-4">
                        <span class="text">View all</span>
                        <span class="symbol">keyboard_arrow_right</span>
                    </a>
                </div>

                <div class="tabs row gap-12 p-8">
                    <span class="text selected" id="captionsTabBtn">Captions</span>
                    <span class="text" id="headlinesTabBtn">Headlines</span>
                </div>

                <div class="body">
                    <div class="captions column gap-8">
                        {% for caption in current_user.captions %}
                        <div class="generated caption row h-sb gap-8 p-8" data-cap-id="{{ caption.id }}">
                            <p class="para">{{ caption.caption }}</p>

                            <div class="caption-actions row gap-8">
                                <button class="link btn symbol copy-btn" title="Copy content">content_copy</button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="headlines column gap-8">
                        {% for headline in current_user.headlines %}
                        <div class="generated headline row h-sb gap-8 p-8" data-head-id="{{ headline.id }}">
                            <div class="column gap-4">
                                <span class="text fs-20 fw-500">{{ headline.gen_headline }}</span>
                                <span class="mini">{{ headline.gen_desc }}</span>
                            </div>

                            <div class="caption-actions row gap-8">
                                <button class="link btn symbol copy-btn" title="Copy content">content_copy</button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </aside>
        </section>

        <section class="right-panel column gap-20 w-full h-full min-h-0">
            <div class="overview bg-card column gap-12 p-16 rounded-16 w-full">
                <span class="text fs-20 fw-500">Welcome back, {{ current_user.name }}. 👋</span>

                <div class="column gap-4">
                    <p class="para text-right">Usage: <span class="text">2400/24000</span></p>
                    
                    <div class="progress-bar bg-card w-full rounded-4">
                        <div class="progress-done h-full rounded-4" style="--w: 10%;"></div>
                    </div>
                </div>
            </div>

            <div class="info-grid grid gap-20">
                <div class="info flex gap-12 p-12 rounded-16 bg-card">
                    <span class="symbol p-16 rounded-8 h-fit" style="--bg: #C3423F;">bolt</span>

                    <div class="text-content column gap-4">
                        <h1 class="h1">21600</h1>
                        <span class="text">Credits left</span>
                        <span class="mini">Resets on 1st Jun 2026</span>
                    </div>
                </div>
                
                <div class="info flex gap-12 p-12 rounded-16 bg-card">
                    <span class="symbol p-16 rounded-8 h-fit" style="--bg: #044389;">description</span>

                    <div class="text-content column gap-4">
                        <h1 class="h1">1248</h1>
                        <span class="text">Total generations</span>
                        <span class="mini">All time</span>
                    </div>
                </div>
                
                <div class="info flex gap-12 p-12 rounded-16 bg-card">
                    <span class="symbol p-16 rounded-8 h-fit" style="--bg: #218380;">trending_up</span>

                    <div class="text-content column gap-4">
                        <h1 class="h1">280</h1>
                        <span class="text">Today's generations</span>
                        <span class="mini">Used to day</span>
                    </div>
                </div>
                
                <div class="info flex gap-12 p-12 rounded-16 bg-card">
                    <span class="symbol p-16 rounded-8 h-fit" style="--bg: #F4C12A;">bookmark</span>

                    <div class="text-content column gap-4">
                        <h1 class="h1">36</h1>
                        <span class="text">Saved items</span>
                        <span class="mini">Across all tools</span>
                    </div>
                </div>
            </div>

            <div class="bottom-section flex gap-20 h-full min-h-0">
                <div class="chat-area column bg-card p-16 rounded-16 w-full min-h-0">
                    <div class="chats-container column gap-12 min-h-0"></div>

                    <div class="prompt-area flex gap-12 p-12 rounded-12 w-full v-en">
                        <textarea name="userPrompt" id="userPrompt" class="input w-full" placeholder="Ask anything about E-commerce"></textarea>
                        <button class="link btn fl rounded-full p-12 h-fit symbol" id="sendPrompt" disabled>send</button>
                    </div>
                </div>
                
                <div class="usage-overview column gap-12 h-sb bg-card p-16 rounded-16 w-full">
                    <div class="head row h-sb gap-12">
                        <span class="text fw-500 fs-20">Usage overview</span>
                        <span class="text">This month</span>
                    </div>

                    <canvas id="usageChart"></canvas>

                    <div class="row gap-12">
                        <h1 class="h1">124</h1>
                        <span class="text">Generations</span>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="module" src="{{ url_for('static', filename='js/pages/dashboard.js') }}"></script>
</body>

</html>