<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pre-connect" href="https://fonts.googleapis.com">

    <title>Dashboard &bull; ECHO</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='base/_utility.css') }}">
</head>
<body>
    {% include 'components/msg.html' %}    

    {% include 'components/header.html' %}
    {% include 'components/controls.html' %}
</body>
</html>