<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#08090D" />
    <link rel="pre-connect" href="https://fonts.googleapis.com">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/favicon.ico') }}" type="image/x-icon">
    <title>Editor &bull; ECHO</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='base/_utility.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/editor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='res/gen.css') }}">

    <link rel="manifest" href="/static/manifest.json" />
</head>

<body>
    {% include 'components/msg.html' %}
    <div class="toast-container column gap-12"></div>

    {% include 'components/header.html' %}
    {% include 'components/controls.html' %}

    <div class="output-frame p-20 rounded-16 column gap-24">
        <div class="head row gap-16">
            <button class="btn symbol" id="closeFrame">close</button>
            <span class="text fs-24">Generating headline</span>
        </div>

        <div class="text-content column gap-8">
            <h2 class="h2" id="outputHeadline"></h2>
            <p class="para" id="outputDesc"></p>

            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
        </div>

        <div class="actions row gap-12">
            <button class="btn symbol" id="keepBtn">keep</button>
            <button class="btn symbol" id="regenBtn">refresh</button>
        </div>
    </div>

    <main class="main flex gap-20 p-20">

        <div class="history w-full column gap-20 p-16 rounded-16 shadow bg-card" id="historyTab">
            <div class="head row h-sb">
                <span class="text fs-20 fw-500">Generations</span>
                <span class="symbol link hidden toggleHistoryTab" id="closeHistoryTab">close</span>
            </div>

            <div class="headlines column gap-8">
                {% if current_user.headlines | length == 0 %}
                <div class="column gap-4 h-full center">
                    <h1 class="h1 text-muted text-center">No generations yet</h1>
                </div>
                {% else %}
                {% for headline in current_user.headlines %}
                {% if not headline.deleted %}
                <div class="generated headline row h-sb gap-8 p-8" data-head-id="{{ headline.id }}">
                    <div class="column gap-4">
                        <span class="text fs-20 fw-500">{{ headline.gen_headline }}</span>
                        <span class="mini">{{ headline.gen_desc }}</span>
                    </div>

                    <div class="headline-actions row gap-8">
                        <button class="link btn symbol add-btn" title="Add content">add</button>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="workspace column gap-16 p-16 rounded-16 shadow w-full bg-card min-h-0" id="workspaceTab">
            <div class="head row h-sb w-full">
                <span class="symbol link hidden toggleHistoryTab" id="toggleHistoryTab">menu</span>
                <span class="text fs-20 fw-500 m-auto">Workspace</span>
                <span class="symbol link hidden toggleGenerationTab" id="toggleGenerationTab">menu</span>
            </div>

            <div class="canvas h-full center min-h-0 m-auto">
                <img src="" class="img" id="imagePreview">

                <div class="column gap-4 text-content p-8 rounded-8" id="textPreview">
                    <h2 class="h2" id="postHeadline"></h2>
                    <span class="text" id="postDescription"><span>
                </div>
            </div>

            <div class="tools res-row gap-12">
                <button class="btn icon-fl rounded-8 pv-4 ph-8" id="photoBtn">
                    <input type="file" id="photoInput" accept="image/*">
                    <span class="symbol">image</span>
                    <span class="text">Photo</span>
                </button>

                <button class="btn icon-fl rounded-8 pv-4 ph-8" id="clearCanvas">
                    <span class="symbol">clear</span>
                    <span class="text">Clear</span>
                </button>

                <div class="row gap-8 rounded-8">
                    <button class="btn fl symbol p-4" id="increaseWidth">add</button>
                    <span class="text">Width</span>
                    <button class="btn fl symbol p-4" id="decreaseWidth">remove</button>
                </div>

                <div class="btn p-4 rounded-8" id="headlineColor">
                    <span class="symbol fl-icon">circle</span>
                    <input type="color">
                </div>

                <!-- <div class="spare-element w-full"></div> -->
                <button class="btn icon-fl rounded-8 pv-4 ph-8" id="exportBtn">
                    <span class="symbol">publish</span>
                    <span class="text">Export</span>
                </button>
            </div>
        </div>

        <div class="generate w-full column gap-20 p-16 rounded-16 shadow bg-card h-full min-h-0" id="generateTab">
            <div class="head row h-sb">
                <span class="text fs-20 fw-500">Generate new</span>
                <span class="symbol link hidden toggleGenerationTab" id="closeGenerationTab">close</span>
            </div>

            <div class="products min-h-0">
                {% if current_user.products | length == 0 %}
                <div class="column gap-4 h-full center">
                    <h1 class="h1 text-muted text-center">No products yet</h1>
                </div>
                {% else %}

                <div class="products-grid grid cols-auto-400 gap-24">
                    {% for product in current_user.products %}
                    <div class="product column h-en gap-12 p-8">
                        <span class="text uppercase fw-500 product-title">{{ product.title }}</span>
                        <p class="para product-desc">{{ product.desc }}</p>

                        <div class="actions">
                            <button class="link btn ot w-full pv-12 rounded-full head-gen-btn">Generate</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                {% endif %}
            </div>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/components/toast.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/pages/editor.js') }}"></script>
</body>

</html>