<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pre-connect" href="https://fonts.googleapis.com">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/favicon.ico') }}" type="image/x-icon">
    <title>History &bull; ECHO</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='base/_utility.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/history.css') }}">
</head>

<body>
    {% include 'components/msg.html' %}

    {% include 'components/header.html' %}
    {% include 'components/controls.html' %}

    <main class="main">
        <section class="section p-48 content column gap-24 min-h-0">
            <div class="top-section res-row h-sb">
                <h1 class="h1">Generation history</h1>

                <div class="content row gap-12">
                    <div class="search-bar row gap-12 pv-8 ph-12 rounded-4 w-full">
                        <input type="search" placeholder="Search by keywords" class="input w-full">
                        <button class="link btn symbol">search</button>
                    </div>
                    <a href="/app/settings/data/export" class="link symbol">file_export</a>
                    <button class="link btn symbol" id="filterTarget" popovertarget="filterPopover">filter_list</button>
                </div>

                <div class="rounded-12" id="filterPopover" popover>
                    <div class="content rounded-12 p-12 column gap-12">
                        <span class="link text" id="showAll">All</span>
                        <span class="link text" id="showCaptions">Captions</span>
                        <span class="link text" id="showHeadlines">Headlines</span>
                        <span class="link text" id="showSaved">Saved</span>
                    </div>
                </div>
            </div>

            <div class="cards-section grid cols-auto-400 gap-12 min-h-0">
                {% for caption in current_user.captions %}
                {% if not caption.deleted %}
                <div class="card column h-sb p-20 bg-card rounded-16" data-type="caption">
                    <div class="head res-row h-sb gap-8">
                        <span class="text">{{ caption.title }}</span>
                        <span class="text">{{ caption.created_at }}</span>
                    </div>

                    <div class="content">
                        <p class="para text-center">{{ caption.caption }}</p>
                    </div>

                    <div class="actions row gap-12 h-en">
                        <button class="link btn symbol copy-content" data-content="{{ caption.caption }}">content_copy</button>
                        <button class="link btn symbol delete-btn" data-id="{{ caption.id }}" data-type="caption" popovertarget="deleteConfirmation">delete</button>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                {% for headline in current_user.headlines %}
                {% if not headline.deleted %}                    
                <div class="card column h-sb p-20 bg-card rounded-16" data-type="headline">
                    <div class="head res-row h-sb gap-8">
                        <span class="text">{{ headline.title }}</span>
                        <span class="text">{{ headline.created_at }}</span>
                    </div>

                    <div class="content column gap-12 text-center">
                        <h2 class="h2">{{ headline.gen_headline }}</h2>
                        <p class="para">{{ headline.gen_desc }}</p>
                    </div>

                    <div class="actions row gap-12 h-en">
                        <button class="link btn symbol copy-content" data-content="{{ headline.gen_headline }}\n{{ headline.gen_desc }}">content_copy</button>
                        <button class="link btn symbol delete-btn" data-id="{{ headline.id }}" data-type="headline" popovertarget="deleteConfirmation">delete</button>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="rounded-12" id="deleteConfirmation" popover>
                <div class="content column gap-24 p-16 rounded-12">
                    <div class="text-content">
                        <h2 class="h2">Are you sure?</h2>
                        <span class="text">This action will delete the generation.</span>
                    </div>

                    <div class="actions">
                        <a class="ulink">Yeah, go ahead.</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script type="module" src="{{ url_for('static', filename='js/pages/history.js') }}"></script>
</body>

</html>