<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pre-connect" href="https://fonts.googleapis.com">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/favicon.ico') }}" type="image/x-icon">
    <title>Settings &bull; ECHO</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='base/_utility.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/settings.css') }}">
</head>

<body>
    {% include 'components/msg.html' %}

    {% include 'components/header.html' %}
    {% include 'components/controls.html' %}

    <main class="main">
        <section class="section p-48 flex gap-20">
            <div class="mini-nav p-20 rounded-16 bg-card column gap-4 h-fit">
                <h3 class="h3 uppercase">Controls</h3>
                <button class="link btn fl pv-12 ph-24 fs-16 rounded-12 w-full text-left" id="profileNav" data-section="profileSettings">Profile</button>
                <button class="link btn pv-12 ph-24 fs-16 rounded-12 w-full text-left" id="appearanceNav" data-section="appearanceSettings">Appearance</button>
                <button class="link btn pv-12 ph-24 fs-16 rounded-12 w-full text-left" id="aiPreferenceNav" data-section="aiPreferenceSettings">AI Preference</button>
                <button class="link btn pv-12 ph-24 fs-16 rounded-12 w-full text-left" id="securityNav" data-section="securitySettings">Security</button>
                <button class="link btn pv-12 ph-24 fs-16 rounded-12 w-full text-left" id="dataNav" data-section="dataSettings">Data</button>
            </div>

            <div class="settings-cards w-full">
                <div class="settings-card active p-20 rounded-16 bg-card column gap-20 h-fit w-full" id="profileSettings">
                    <h1 class="h1">Profile</h1>

                    <form action="/app/settings/update/profile" method="post" class="form column gap-12">
                        <div class="form-elem column gap-4">
                            <label for="name">Name</label>
                            <input required type="text" name="name" id="name" placeholder="Your name"
                                value="{{ current_user.name }}" class="input">
                        </div>

                        <div class="form-elem column gap-4">
                            <label for="email">Email</label>
                            <input required type="email" name="email" id="email" placeholder="Your email"
                                value="{{ current_user.email }}" class="input">
                        </div>

                        <div class="form-elem column gap-4">
                            <label for="site_url">Site URL</label>
                            <input required type="url" name="site_url" id="site_url" placeholder="Your site URL"
                                value="{{ current_user.site_url }}" class="input">
                        </div>

                        <button type="submit" class="btn fl rounded-full pv-12 ph-24">Update profile</button>
                    </form>
                </div>
                
                <div class="settings-card p-20 rounded-16 bg-card column gap-20 h-fit w-full" id="appearanceSettings">
                    <h1 class="h1">Appearance</h1>

                    <button class="link btn row gap-12" id="themeToggle">
                        <span class="symbol">contrast</span>
                        <span class="text">Toggle Theme</span>
                    </button>
                    
                    <button class="link btn row gap-12" popovertarget="accentsList" id="accentsBtn">
                        <span class="symbol">palette</span>
                        <span class="text">Select accent</span>
                    </button>

                    <div class="rounded-12" id="accentsList" popover>
                        <div class="content column gap-8 p-12 rounded-12">
                            <button class="accent-input link btn row gap-12" id="blue">
                                <span class="sample"></span>
                                <span class="text">Blue</span>
                            </button>
                            
                            <button class="accent-input link btn row gap-12" id="green">
                                <span class="sample"></span>
                                <span class="text">Green</span>
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="settings-card p-20 rounded-16 bg-card column gap-20 h-fit w-full" id="aiPreferenceSettings">
                    <h1 class="h1">AI Preferences</h1>

                    <form action="/app/settings/update/ai-preferences" method="post" class="form column gap-12">
                        <div class="form-elem column gap-4">
                            <div class="row gap-16">
                                <label for="tone">Chatbot Tone</label>
                                <button type="button" class="link btn symbol fl-icon" popovertarget="toneInfo" id="toneTarget" aria-label="Show chatbot tone info">info</button>
                            </div>

                            <div class="rounded-12" id="toneInfo" popover>
                                <p class="para">What do you want your chatbot to talk like. It can be a mentor, a friend, or anything you want.</p>
                            </div>
                            
                            <input type="text" name="tone" id="tone" placeholder="Mentor, Friend, etc." value="{{ current_user.ai_tone }}" class="input">
                        </div>
                        
                        <div class="form-elem column gap-4">
                            <div class="row gap-16">
                                <label for="lang">Chatbot Language</label>
                                <button type="button" class="link btn symbol fl-icon" popovertarget="langInfo" id="langTarget" aria-label="Show chatbot lang info">info</button>
                            </div>

                            <div class="rounded-12" id="langInfo" popover>
                                <p class="para">What language you want your AI to talk in.</p>
                            </div>
                            
                            <input type="text" name="lang" id="lang" placeholder="English, Italian, Hindi." value="{{ current_user.ai_lang }}" class="input">
                        </div>
                        
                        <div class="form-elem column gap-4">
                            <div class="row gap-16">
                                <label for="creativity">Creativity level</label>
                                <button type="button" class="link btn symbol fl-icon" id="creativityTarget" popovertarget="creativityInfo" aria-label="Show creativity level info">info</button>
                            </div>

                            <div class="rounded-12" id="creativityInfo" popover>
                                <p class="para">What level of creativity you want from your chatbot. 0 is default, means the bot will select on its own. Higher level means longer delay and higher credits usage.</p>
                            </div>

                            <input type="number" name="creativity" id="creativity" placeholder="0" value="{{ current_user.ai_creativity }}" class="input" min="0" max="10">
                        </div>

                        <button type="submit" class="btn fl rounded-full ph-32 pv-12">Update settings</button>
                    </form>
                </div>

                <div class="settings-card p-20 rounded-16 bg-card column gap-20 h-fit w-full" id="securitySettings">
                    <h1 class="h1">Security</h1>

                    <button type="button" class="link btn row gap-12" id="securityFormTarget" popovertarget="securityForm">
                        <span class="symbol">password_2</span>
                        <span class="text">Change password</span>
                    </button>

                    <div class="rounded-12 center" id="securityForm" popover>
                        <form action="/app/settings/update/security" method="post" class="form content column gap-12 p-12 rounded-12 w-full">
                            <div class="form-elem column gap-12">
                                <label for="oldPassword">Current password</label>
                                <input type="password" name="oldPassword" id="oldPassword" placeholder="Your current password" class="input">
                            </div>
                            
                            <div class="form-elem column gap-12">
                                <label for="newPassword">New password</label>
                                <input type="password" name="newPassword" id="newPassword" placeholder="Create a new password" class="input">
                            </div>

                            <button type="submit" class="btn fl rounded-full ph-32 pv-12">Update password</button>
                        </form>
                    </div>

                    <a href="{{ url_for('auth.logout') }}" class="link btn row gap-12 rounded-full ph-32 pv-12" id="logoutBtn">
                        <span class="symbol">logout</span>
                        <span class="text">Logout</span>
                    </a>
                </div>

                <div class="settings-card p-20 rounded-16 bg-card column gap-20 h-fit w-full" id="dataSettings">
                    <h1 class="h1">Data</h1>

                    <a href="/app/settings/data/clear" class="link row gap-12">
                        <span class="symbol">delete</span>
                        <span class="text">Clear history</span>
                    </a>

                    <a href="/app/settings/data/export" class="link row gap-12">
                        <span class="symbol fl-icon">download_2</span>
                        <span class="text">Export data</span>
                    </a>
                </div>
            </div>
        </section>
    </main>

    <script type="module" src="{{ url_for('static', filename='js/pages/settings.js') }}"></script>
</body>

</html>
