<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#08090D" />
    <link rel="pre-connect" href="https://fonts.googleapis.com">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/favicon.ico') }}" type="image/x-icon">
    <title>Sticker &bull; ECHO</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/_utility.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/sticker.css') }}">

    <link rel="manifest" href="/static/manifest.json" />
</head>

<body>
    {% include 'components/msg.html' %}
    <div class="toast-container column gap-12"></div>

    {% include 'components/header.html' %}
    {% include 'components/controls.html' %}

    <div class="generation-illustration p-20 rounded-16 column gap-24">
        <div class="head row gap-16">
            <span class="text fs-24">Generating</span>
        </div>

        <div class="text-content column gap-8">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
        </div>
    </div>

    <main class="main flex gap-20 p-20">
        <section class="sheet-window bg-card p-16 rounded-16 shadow w-full column gap-12" id="sheetWindow">
            <div class="head row h-sb">
                <span class="text text-center m-auto">Sheet</span>
                <span class="symbol toggle-tools-window">menu</span>
            </div>

            <div class="body grid"></div>
            <canvas class="pdf-preview hidden"></canvas>
            <!-- <iframe frameborder="0" class="pdf-preview hidden"></iframe> -->
        </section>

        <section class="tools-window bg-card rounded-16 shadow w-full column" id="toolsWindow">
            <div class="head row h-sb p-16">
                <span class="text">Tools</span>
                <span class="symbol toggle-tools-window">close</span>
            </div>
            <hr class="divider">

            <div class="barcode-content column unit min-h-0">
                <div class="head link row h-sb bg-tertiary p-12" id="toggleBarcodeContent"
                    data-section=".barcode-content">
                    <span class="text">Barcode</span>
                    <span class="symbol">keyboard_arrow_right</span>
                </div>

                <div class="body column gap-12 h-full">
                    <input type="text" id="barcodeInput" class="input" placeholder="barcode content">

                    <button class="btn fl rounded-16 w-full pv-16" id="generateBarcode">
                        <span class="text">Generate</span>
                    </button>

                    <img src class="img" id="barcodePreview">
                </div>
            </div>

            <div class="product-content column unit min-h-0">
                <div class="head link row h-sb bg-tertiary p-12" id="toggleProductContent"
                    data-section=".product-content">
                    <span class="text">Product</span>
                    <span class="symbol">keyboard_arrow_right</span>
                </div>

                <div class="body column gap-12 h-full">
                    <div class="input-elem column gap-4">
                        <label for="priceInput">Price</label>
                        <input type="text" id="priceInput" class="input" placeholder="Price">
                    </div>

                    <div class="input-elem column gap-4">
                        <label for="batchInput">Batch number</label>
                        <input type="text" id="batchInput" class="input" placeholder="Batch number">
                    </div>

                    <div class="input-elem column gap-4">
                        <label for="mfgInput">Manufacturing Date</label>
                        <input type="date" id="mfgInput" class="input">
                    </div>

                    <div class="input-elem column gap-4">
                        <label for="expInput">Expiry Date</label>
                        <input type="date" id="expInput" class="input">
                    </div>

                    <div class="input-elem column gap-4">
                        <label for="specificInput">Specific info</label>
                        <input type="text" id="specificInput" class="input" placeholder="Size, weight, etc.">
                    </div>
                </div>
            </div>

            <div class="page-content column unit min-h-0 active">
                <div class="head link row h-sb bg-tertiary p-12" id="toggleSheetContent" data-section=".page-content">
                    <span class="text">Sheet</span>
                    <span class="symbol">keyboard_arrow_right</span>
                </div>

                <div class="body column gap-12 h-full">
                    <div class="row h-sb">
                        <span class="text">Size:</span>
                        <span class="text">A4</span>
                    </div>

                    <div class="row h-sb">
                        <span class="text">Columns</span>
                        <input type="number" id="columnInput" class="input" value="5" min="1">
                    </div>

                    <div class="row h-sb">
                        <span class="text">Rows</span>
                        <input type="number" id="rowInput" class="input" value="3" min="1">
                    </div>

                    <div class="row h-sb">
                        <span class="text">Grid lines</span>
                        <input type="checkbox" id="toggleBorder" class="input">
                    </div>

                    <div class="actions column gap-12">
                        <button class="btn fl rounded-16 pv-16 w-full" id="exportSheet">EXPORT SHEET</button>
                        <button class="btn ot rounded-16 pv-16 w-full" id="clearSheet">CLEAR SHEET</button>
                    </div>
                </div>
            </div>

            <div class="ai-content column unit min-h-0 beta-element">
                <div class="head link row h-sb bg-tertiary p-12" id="toggleAIContent" data-section=".ai-content">
                    <span class="text">AI Generation</span>
                    <span class="symbol">keyboard_arrow_right</span>
                </div>

                <div class="body column gap-12 h-full">
                    <p class="para">Fill out all product details that you need in the sheet and click generate.</p>
                    <p class="par">The number of rows and columns will be determined by AI.</p>
                    <p class="para">AI generation costs 1 credit per generation.</p>
                    
                    <button class="btn fl rounded-16 pv-16 w-full" id="generateAI">Generate</button>
                    <a class="btn link ot rounded-16 pv-16 w-full hidden" id="exportAI">Download</a>
                </div>
            </div>
        </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/pages/sticker.js') }}"></script>
</body>

</html>