/* ================================================== */
/* BASIC */
/* ================================================== */

.main .section {
    overflow: auto;
    height: calc(100dvh - 88px);
}

/* ================================================== */
/* PROFILE SECTION */
/* ================================================== */

.profile-section .text-content { border-left: 2px solid var(--color-accent-main); }

/* ================================================== */
/* INFO GRID */
/* ================================================== */

.info-grid { grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr)); }

.info-grid .info .symbol {
    background-color: var(--bg);
    color: #F4F4F6;
}

/* ================================================== */
/* ACCOUNT ACTIONS */
/* ================================================== */

.account-action { border: 2px solid #FF58589C; }
.account-action .actions .link { background-color: var(--color-tertiary); }

.account-action #clearConfirmation,
.account-action #deleteConfirmation {
    position: absolute;
    border: none;
    background-color: var(--color-surface-main);
    color: var(--color-text-main);
    backdrop-filter: blur(4px);
    width: min(500px, 100%);
    margin: auto;
    transition: transform 0.3s cubic-bezier(0.911, 0.161, 0.181, 0.797);
    transform-origin: center;
    transform: scale(0);
}

.account-action #clearConfirmation.open,
.account-action #deleteConfirmation.open { transform: scale(1); }