/* ================================================== */
/* BASIC */
/* ================================================== */

main { height: calc(100dvh - 90px); }
.history, .generate { max-width: max(360px, 25%); }
.hidden { display: none !important; }

/* ================================================== */
/* OUTPUT FRAME */
/* ================================================== */

.output-frame {
    position: fixed;
    z-index: 1;
    width: min(768px, 80vw);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(4px);
    background-color: var(--color-surface-main);
    display: none;
    opacity: 0;
    transition: opacity 0.4s;
}

.output-frame .line {
    width: 0;
    height: 4px;
    background-color: var(--color-text-main);
    border-radius: 4px;
    transition: width 0.5s;
}

/* ================================================== */
/* HISTORY TAB */
/* ================================================== */

.history .headlines { overflow-y: auto; }
.history .generated.headline:not(:last-child) { border-bottom: 1px solid var(--color-border); }

.history .generated.headline .mini {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.history .generated.headline .text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ================================================== */
/* WORKSPACE */
/* ================================================== */

/* ----- CANVAS ----- */
.workspace .canvas { height: auto; }

.workspace .canvas .img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.3s;
}

.workspace .canvas .text-content {
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: grab;
    user-select: none;
    touch-action: none;
}

.workspace .canvas .text-content:active { cursor: grabbing; }

/* ----- TOOLS ----- */
.workspace .tools * {
    touch-action: none;
    user-select: none;
}

.workspace .tools .btn {
    background-color: var(--color-surface-main);
    position: relative;
}

.workspace .tools #photoBtn input {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

.workspace .tools #increaseWidth { border-radius: 4px 0 0 4px; }
.workspace .tools #decreaseWidth { border-radius: 0 4px 4px 0; }

.workspace .tools #headlineColor { position: relative; }
.workspace .tools #headlineColor input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    inset: 0;
}

.workspace .tools #exportBtn { margin-left: auto; }

/* ----- PROMPT AREA ----- */

.prompt-area {
    position: fixed;
    width: min(80%, 768px);
    top: 50%;
    left: 50%;

    border: none;
    background-color: var(--color-surface-alt);
    backdrop-filter: blur(4px);

    transition: transform 0.3s cubic-bezier(0.911, 0.161, 0.181, 0.797);
    transform: scale(0) translate(-50%, -50%);
    transform-origin: center;
}

.prompt-area.active { transform: scale(1) translate(-50%, -50%); }

/* ================================================== */
/* PRODUCTS TAB */
/* ================================================== */

.products { overflow-y: auto; }
.products-grid .product:not(:last-child) { border-bottom: 1px solid var(--color-border); }

/* ================================================== */
/* & RESPONSIVENESS */
/* ================================================== */

@media (max-width: 1440px) {
    body {
        overflow: hidden !important;
        height: 100%;
    }

    main {
        height: calc(100dvh - 90px) !important;
        overflow: hidden;
    }
}

@media (max-width: 1240px) {
    #toggleHistoryTab, #toggleGenerationTab,
    #closeHistoryTab, #closeGenerationTab { display: inline !important; }
    
    .main { padding: 0; }
    .workspace { border-radius: 0; }

    .history,
    .generate {
        position: fixed;
        top: 90px;
        width: 100%;
        bottom: 0;
        z-index: 1;
        
        background-color: var(--color-tertiary);
        border-radius: 0;

        transition: transform 0.3s ease-out;
        transform: scale(0);
    }

    .history {
        transform-origin: top left;
        left: 0;
    }

    .generate {
        transform-origin: top right;
        right: 0;
    }

    .history.active,
    .generate.active { transform: scale(1); }
}