/* ================================================== */
/* BASIC */
/* ================================================== */

main { height: calc(100dvh - 90px); }
.hidden { display: none !important; }

.input {
    background-color: var(--color-bg-main);
    border: 1px solid var(--color-border);
}

/* ================================================== */
/* GENERATION ILLUSTRATION */
/* ================================================== */

.generation-illustration {
    position: fixed;
    z-index: 1;
    width: min(768px, 80vw);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(4px);
    background-color: var(--color-surface-main);
    pointer-events: none;
    opacity: 0;
    cursor: wait;
    transition: opacity 0.4s;
}

.generation-illustration .line {
    width: 0;
    height: 4px;
    background-color: var(--color-text-main);
    border-radius: 4px;
    transition: width 0.5s;
}

/* ================================================== */
/* SHEET WINDOW */
/* ================================================== */

.sheet-window > .body {
    aspect-ratio: 21 / 29.7;
    height: 100%;
    max-height: calc(100vh - 194px);
    width: auto;
    margin: auto;
    border: 1px dashed var(--color-border);
    background-color: #FFF;
    color: #000;
}

/* ================================================== */
/* TOOLS WINDOW */
/* ================================================== */

.tools-window { max-width: max(480px, 25%); }

.tools-window .unit {
    gap: 0;
    transition: gap 0.3s;
}

.tools-window .unit .head > * { pointer-events: none; }
.tools-window .unit .head .symbol { transition: transform 0.3s; }

.tools-window .unit.active { gap: 12px; }
.tools-window .unit.active .head .symbol { transform: rotate(90deg); }

.tools-window .unit .body {
    max-height: 0;
    padding: 0;
    opacity: 0;
    overflow-y: auto;
    transition: max-height 0.3s, opacity 0.3s, padding 0.3s;
}

.tools-window .unit.active .body {
    max-height: 100%;
    padding: 12px;
    opacity: 1;
}

.tools-window #exportSheet { transition: opacity 0.3s; }