/* ================================================== */
/* SYNCING ANIMATION */
/* ================================================== */

.syncing-animation {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(4px);
    background-color: #12131705;
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
}

.syncing-animation .line-illustration { width: 96px; }

.syncing-animation .line {
    height: 4px;
    width: 100%;
    background-color: var(--color-border);
    transition: transform 1s ease-out;
    transform: scaleX(0);
}

/* ================================================== */
/* BASIC */
/* ================================================== */

.main { height: calc(100dvh - 88px); }

.output-frame {
    position: fixed;
    z-index: 1;
    width: min(768px, 80vw);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(4px);
    background-color: var(--color-surface-main);
    display: none;
    opacity: 0;
    transition: opacity 0.4s;
}

/* ================================================== */
/* BODY */
/* ================================================== */

.main .body {
    flex: 1;
    overflow-y: auto;
}

/* ================================================== */
/* PRODUCTS GRID */
/* ================================================== */

.main .body .products-grid .product {
    aspect-ratio: 1 / 1;
    transition: transform 0.3s;
}

.main .body .products-grid .product:hover { transform: translateY(-8px); }
.main .products-grid .product .tag { background-color: var(--color-surface-main); }