/* ================================================== */
/* BASIC */
/* ================================================== */

.section { max-width: 768px; }

/* ================================================== */
/* PAYMENT STATUS ICON */
/* ================================================== */

.symbol#SUCCESS { color: #059669; }

/* ================================================== */
/* ORDER DETAILS */
/* ================================================== */

.order-details { width: min(500px, 100%); }