<style>
    .controls {
        position: fixed;
        z-index: 1;
        bottom: 20px;
        left: 20px;
        background-color: var(--color-surface-alt);
        backdrop-filter: blur(4px);
        box-shadow: 4px 4px 4px -2px var(--color-surface-main);
        opacity: 0;
        transform: translateY(100px);
        pointer-events: none;
        transition:
            opacity 0.4s,
            transform 0.6s linear(0, 0.0086, 0.0322, 0.068, 0.1132, 0.1654, 0.2227, 0.2832, 0.3453, 0.4078, 0.4695, 0.5295, 0.5871, 0.6418, 0.6932, 0.7409, 0.7849, 0.8249, 0.861, 0.8933, 0.9219, 0.9469, 0.9685, 0.987, 1.0025, 1.0154, 1.0258, 1.034, 1.0403, 1.0448, 1.0478, 1.0495, 1.05, 1.0497, 1.0486, 1.0468, 1.0446, 1.042, 1.0392, 1.0362, 1.033, 1.0299, 1.0268, 1.0238, 1.0209, 1.0182, 1.0156, 1.0132, 1.011, 1.0089, 1.0071, 1.0055, 1.004, 1.0028, 1.0017, 1.0007, 0.9999, 0.9993, 0.9987, 0.9983, 0.998, 0.9978, 0.9976, 0.9975, 0.9975, 0.9975, 0.9976, 0.9976, 0.9978, 0.9979, 0.998, 0.9982, 0.9983, 0.9985, 0.9986, 0.9988, 0.9989, 0.9991, 0.9992, 0.9993, 0.9994, 0.9995, 0.9996, 0.9997, 0.9998, 0.9999, 0.9999, 1, 1, 1, 1.0001, 1.0001, 1.0001, 1.0001, 1.0001, 1.0001, 1.0001, 1.0001, 1.0001, 1.0001, 1);
    }

    .controls.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
</style>

<section class="controls column gap-20 p-16 rounded-12">
    <div class="column gap-12" id="toolControls">
        <a href="{{ url_for('app.captions') }}" class="link symbol" title="Captions">subtitles</a>
        <a href="{{ url_for('app.headlines') }}" class="link symbol" title="Headlines">text_ad</a>
        <a href="{{ url_for('app.editor') }}" class="link symbol" title="Editor">format_image_right</a>
    </div>
    <hr class="divider">

    <div class="column gap-12" id="appControls">
        <a href="{{ url_for('store.store_page') }}" class="link symbol" title="Store">store</a>
        <a href="{{ url_for('app.dashboard') }}" class="link symbol" title="Dashboard">dashboard</a>
    </div>    
    <hr class="divider">
    
    <div class="column gap-12" id="selfControls">
        <a href="{{ url_for('app.settings') }}" class="link symbol" title="Settings">settings</a>
        <button class="link btn symbol" title="Close Controls" id="closeControls">close</button>
    </div>
</section>

<script>
    const closeControls = document.getElementById('closeControls');
    const controls = document.querySelector('.controls');

    document.addEventListener('DOMContentLoaded', () => {
        const showControls = localStorage.getItem('controls');
        controls.classList.toggle('active', showControls !== 'active');
    })
    
    closeControls.addEventListener('click', () => {
        localStorage.setItem('controls', 'active');
        controls.classList.remove('active');
    })
</script>