<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#08090D" />
    <link rel="pre-connect" href="https://fonts.googleapis.com">

    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/icons/favicon.ico') }}" type="image/x-icon">
    <title>Payment successful &bull; ECHO</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='base/_utility.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/events/paid.css') }}">

    <link rel="manifest" href="/static/manifest.json" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
</head>

<body>
    <main class="main">
        <section class="section p-20 column gap-12">
            <div class="head row gap-12">
                <img src="{{ url_for('static', filename='assets/icons/logo.webp') }}" alt="Logo" class="img logo">

                <div class="text-content column">
                    <h3 class="h3 uppercase">ECHO</h3>
                    <span class="text">AI captions. Real Impact.</span>
                </div>
            </div>

            <hr class="divider">

            <div class="invoice-overview column gap-12">
                <h2 class="h2 highlight">Invoice</h2>

                <div class="billed column">
                    <span class="text uppercase highlight fw-600 mv-4">Billed to</span>
                    <span class="text fw-500">{{ current_user.name }}</span>
                    <span class="text">{{ current_user.email }}</span>
                    <span class="text">{{ current_user.phone }}</span>
                </div>

                <div class="row gap-12">
                    <span class="symbol p-12 rounded-8 highlight">calendar_month</span>

                    <div class="text-content column">
                        <span class="text uppercase highlight fw-600">Date</span>
                        <span class="text">{{ data.date }}</span>
                    </div>
                </div>

                <div class="row gap-12">
                    <span class="symbol p-12 rounded-8 highlight">credit_card</span>

                    <div class="text-content column">
                        <span class="text uppercase highlight fw-600">Payment method</span>
                        <span class="text">{{ data.method }}</span>
                    </div>
                </div>

                <div class="row gap-12">
                    <span class="symbol p-12 rounded-8 highlight">label</span>

                    <div class="text-content column">
                        <span class="text uppercase highlight fw-600">Status</span>
                        <span class="text">{{ data.status }}</span>
                    </div>
                </div>
            </div>

            <div class="payment-summary p-20 rounded-16 column gap-12">
                <span class="text uppercase highlight fw-600">Payment summary</span>

                <div class="payments-table column gap-12">
                    <div class="payment-row grid cols-2">
                        <span class="text fs-500">Item</span>
                        <span class="text fs-500 text-right">Amount</span>
                    </div>

                    <div class="payment-row grid cols-2">
                        <span class="text">{{ data.plan }} credits pack ({{ data.credits }} credits)</span>
                        <span class="text text-right">&#8377;{{ data.amount }}</span>
                    </div>
                </div>

                <hr class="divider">

                <div class="row h-en gap-20">
                    <span class="text uppercase highlight fw-600">Total paid</span>

                    <span class="text fs-24 uppercase highlight fw-600">&#8377;{{ data.amount }}</span>
                </div>
            </div>

            <div class="footer column gap-8">
                <a href="https://echo.auvora-atelier.co.in" class="link row gap-12">
                    <span class="symbol">captive_portal</span>
                    <span class="text">Official site</span>
                </a>

                <a href="mailto:adi@coderadi.in" class="link row gap-12">
                    <span class="symbol">mail</span>
                    <span class="text">adi@coderadi.in</span>
                </a>
            </div>
        </section>

        <canvas id="paymentInvoice"></canvas>
        <button class="btn ph-16 pv-8 rounded-full fl" id="download">Download</button>
    </main>

    <script src="{{ url_for('static', filename='js/events/paid.js') }}"></script>
</body>

</html>